{% extends 'basic.html' %}

{% block title %} BCRECAPC | Contact {% endblock title %}

{% block banner %}

<!-- ================ start banner Area ================= -->
<section class="banner-area">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-12 banner-right">
				<h1 class="text-white">
					Contacts
				</h1>
				<p class="mx-auto text-white  mt-20 mb-40">
					Have any queries, feel free to contact us. We're here to assist you.
				</p>
				<div class="link-nav">
					<span class="box">
						<a href="/">Home </a>
						<i class="lnr lnr-arrow-right"></i>
						<a href="/contact">Contacts</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ================ End banner Area ================= -->

{% endblock banner %}
{% block alert %} {% endblock %}
{% block body %}

<!-- ================ Start contact-page Area  ================= -->
<section class="contact-page-area section-gap">
	<div class="container">
		<div class="row">
			<div class="map-wrap" style="width:100%;" id="map"></div>
			<div class="col-lg-4 d-flex flex-column address-wrap">
				<div class="single-contact-address d-flex flex-row">
					<div class="icon">
						<span class="lnr lnr-home"></span>
					</div>
					<div class="contact-details">
						<h5>Fuljhore, Durgapur</h5>
						<p>
							Paschim Barddhaman, 713206
						</p>
					</div>
				</div>
				<div class="single-contact-address d-flex flex-row">
					<div class="icon">
						<span class="lnr lnr-phone-handset"></span>
					</div>
					<div class="contact-details">
						<h5>343-2500025, 2504106, 2501353</h5>
						<p>Tuesday to Saturday, 10:00 AM to 5:30 PM</p>
						<p><em>To be noted: We are closed on Sundays and Mondays.</em></p>
					</div>
				</div>
				<div class="single-contact-address d-flex flex-row">
					<div class="icon">
						<span class="lnr lnr-envelope"></span>
					</div>
					<div class="contact-details">
						<h5>apc@bcrec.ac.in</h5>
						<p>Send us your query anytime!</p>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<form class="form-area contact-form text-right" id="myForm" action="/contact/" method="post">
					{% csrf_token %}
					<div class="row">
						<div class="col-lg-6 form-group">
							<input name="name" id="name" placeholder="Enter your name" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control"
								required="" type="text">

							<input name="email" id="email" placeholder="Enter email address"
								pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'"
								class="common-input mb-20 form-control" required="" type="email">

							<input name="phone" id="phone" placeholder="Enter Phone Number"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter subject'"
								class="common-input mb-20 form-control" required="" type="text">
						</div>
						<div class="col-lg-6 form-group">
							<textarea class="common-textarea form-control" name="message" id="message"
								placeholder="Enter Messege" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Enter Messege'" required=""></textarea>
						</div>
						<div class="col-lg-12">
							<div class="alert-msg" style="text-align: left;"></div>
							<button class="btn" style="float: right;">Send Message</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- ================ End contact-page Area ================= -->

{% endblock body %}