{% extends 'basic.html' %}

{% block title %} BCREC | Successfull Verification {% endblock title %}

{% block banner %}

<!-- ================ start banner Area ================= -->
<section class="banner-area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 banner-right">
                <h1 class="text-white">
                    Congratulations
                </h1>
                <p class="mx-auto text-white  mt-20 mb-40">
                    Your account is verified successfully.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- ================ End banner Area ================= -->

{% endblock banner %}

{% block body %}
<section class="contact-page-area section-gap">
    <div class="container">
        <h2>{{ msg }}</h3>
            <a href="http://127.0.0.1:8000/login">LOGIN</a><br>
            <a href="http://127.0.0.1:8000/">Back to Home</a>
    </div>
</section>
<!-- ================ End contact-page Area ================= -->

{% endblock body %}