{% extends "basic.html" %}

{% block banner %}

<!-- ================ start banner Area ================= -->
<section class="banner-area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 banner-right">
                <h1 class="text-white">
                    Verify Your Email
                </h1>
                <p class="mx-auto text-white  mt-20 mb-40">
                    An OTP is send to your email address {{ email }}.
                </p>
                <div class="link-nav">
                    <span class="box">
                        <a href="/">Home </a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="#">Veify otp</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ End banner Area ================= -->

{% endblock banner %}

{% block body %}

<!-- ================ Start contact-page Area  ================= -->
<section class="contact-page-area section-gap">
    <div class="container">
        <p>Check your mail spam folder if you didn't find in Inbox.</p>
        <form class="form-area contact-form text-right" id="myForm"
            action="/verify-otp/{{email}}/{{password}}/{{username}}/{{phNo}}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6 form-group">
                    <input name="otp" id="otp" placeholder="Enter OTP" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Enter OTP'" class="common-input mb-20 form-control"
                        type="text" required>
                    <div class="col-lg-12" style="margin-bottom: 1rem;">
                        <a href="">Resend OTP (will be added soon!) </a>
                    </div>
                    <div class="col-lg-12">
                        <div class="alert-msg" style="text-align: left;"></div>
                        <button class="btn" style="float: right;">Verify Email</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- ================ End contact-page Area ================= -->

{% endblock body %}