{% extends 'basic.html' %} 

{% block title %} BCREC | VERIFY | {{ user }} {% endblock title %}

{% block banner %}

<!-- ================ start banner Area ================= -->
<section class="banner-area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 banner-right">
                <h1 class="text-white">
                    Verify Email
                </h1>
                <p class="mx-auto text-white  mt-20 mb-40">
                    We send an email to your email, click the link, to verify your profile.
                </p>
                <div class="link-nav">
                    <span class="box">
                        <a href="/">Home </a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="/verify-user/">Verify</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ End banner Area ================= -->

{% endblock banner %}
{% block alert %} {% endblock %}
{% block body %} 
<section class="contact-page-area section-gap">
    <div class="container">
        <h2>We send a link to your email address. click the link, to verify your email.</h3>
        <p>Your email - {{ user.email }}</p>
    </div>
</section>
<!-- ================ End contact-page Area ================= -->

{% endblock body %}
