{% extends "basic.html" %}

{% block title %} BCRECAPC | COURSE | {{course.title}} {% endblock title %}

{% block banner %}

<!-- ================ start banner Area ================= -->
<section class="banner-area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 banner-right">
                <h1 class="text-white">
                    {{course.title}}
                </h1>
                <p class="mx-auto text-white  mt-20 mb-40">
                    {{ course.description }} <br>
                    {{ course.yearsOfCourse }} years of course.
                </p>
                <div class="link-nav">
                    <span class="box">
                        <a href="/">Home </a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="/courses">Courses </a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="/courses/{{course.slug}}">{{course.title }}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ End banner Area ================= -->

{% endblock banner %}

{% block body %}

<!--================ Start Course Details Area =================-->
<section class="course-details-area">
    <div class="container">
        <h4 class="title">{{course.description}}</h4>
        <div class="content">
            {{course.about_course|safe}}
        </div>
</section>

<section class="course-details-area">
    <div class="container">
        <h4 class="title">{{course.title}} Semesters</h4>
        <div class="content">
            {% if user.is_authenticated %}
            <ul class="course-list">
                {% with ''|center:sem as range %}
                {% for _ in range %}
                <li class="justify-content-between d-flex">
                    <a href="{{forloop.counter}}/">
                        <h4>Semester - {{ forloop.counter }}</h4>
                    </a>
                    <a class="btn text-uppercase link" href="{{forloop.counter}}">VIew
                        Papers</a>
                </li>
                {% endfor %}
                {% endwith %}
            </ul>
            <hr>
            {% endif %}
            <ul class="course-list">
                <li class="justify-content-between d-flex">
                    <a href="">
                        <h4>Syllabus</h4>
                    </a>
                    <a class="btn text-uppercase link" href="">Download</a>
                </li>
            </ul>
        </div>
</section>

<!--================ End Course Details Area =================-->

{% endblock body %}