{% extends "basic.html" %}

{% block title %} BCRECAPC | Course | {{papers.0.course.title}} | {{ papers.0.semester }}  {{papers.0.paper_name }}
{% endblock title %}

{% block banner %}

<!-- ================ start banner Area ================= -->
<section class="banner-area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 banner-right">
                <h1 class="text-white">
                    {{papers.0.paper_name }}
                </h1>
                <p class="mx-auto text-white  mt-20 mb-40">
                    {{ papers|length }} years of Paper found.
                </p> 
                <div class="link-nav">
                    <span class="box">
                        <a href="/">Home </a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="/courses">Courses </a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="/courses/{{papers.0.course.slug}}">{{ papers.0.course.title }}</a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="/courses/{{papers.0.course.slug}}/{{ papers.0.paper_name.semester }}">Sem
                            {{ papers.0.paper_name.semester }}</a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="">{{papers.0.paper_name }}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ End banner Area ================= -->

{% endblock banner %}
{% block body %}

<!--================ Start Course Details Area =================-->
<section class="course-details-area section-gap">
    <div class="container">
        <h4 class="title">{{papers.0.paper_name }}</h4>
        <div class="content">
            <ul class="course-list">
                {% for year in papers %}
                <li class="justify-content-between d-flex">
                    <a href="#" target="_blank">
                        <h4>{{ year.year }}</h4>
                    </a>
                    {% if not profile.is_verify %}
                    <a class="btn text-uppercase" data-bs-toggle="modal" data-bs-target="#exampleModal">Download</a>
                    {% elif not profile.is_bcrecian %}
                    <a class="btn text-uppercase" data-bs-toggle="modal" data-bs-target="#exampleModal">Download</a>
                    {% else %}
                    <a class="btn text-uppercase" href="/media/{{year.upload_paper}}" target="_blank">Download</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Account Not Verified</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        {% if not profile.is_verify %}
        <div class="modal-body">
          Your Account is not verified. Verify your Account
        </div>
        {% elif not profile.is_bcrecian %}
        <div class="modal-body">
          Your Account is not verified as <strong>BCRECIAN</strong> account. Verify to Download Papers.
        </div>
        {% endif %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Not Now</button>
          <a class="btn btn-primary" href="/profile">Verify</a>
        </div>
      </div>
    </div>
  </div>
<!--================ End Course Details Area =================-->

{% endblock body %}
{% block alert %} {% endblock %}